@font-face {
  src: url(/fonts/Roboto-Regular.ttf);
  font-family: "Roboto-Regular";
  
}




body {
  margin: 0;
  font-size: 90%;
  font-family: "Roboto-Regular";

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  
}
